body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 125%;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
section {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
