body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 125%;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
section {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Whole scrollbar */
*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  margin-left: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(128, 129, 135);
  border-radius: 5px;
}
